<form action="/lampo1/update/<%= lampo1.id %>" method="POST" >
  <h2>muokkaa lämpö</h2>
  <input value="<%= lampo1.node %>" type="text" name="node"></br>
  <input value="<%= lampo1.lampo %>" type="text" name="lampo"></br>

  <input type="submit" value="Edit lämpö" />
</form>
