<form action="/lampo1/create" method="POST" >
  <h2>create temperature to</h2>

  <input type="text" placeholder="1Node" name="node" > <br />
  <input type="text" placeholder="Temperature" name="lampo" > <br/>
  <input type="submit" value="Lisaa lampotila" />
</form>
